.tours{

   background: url('/main/el-valle-arcoiris-panama.jpg') 
   
   no-repeat rgba(0,0,0,.5);

   background-position: center;

   background-attachment: fixed;

   background-size: cover;

   background-blend-mode: multiply;

}

body {
   background-color: #9961fa;
   background-repeat: no-repeat;
   background-size: cover;
   backdrop-filter: blur(.3rem);
 }



 html body div.container.tours section.grid div.box div#home.credit h4 ul li a{
   font-size: 2rem;
color: #000000;
}  


#swipe > section > div > h3{
   font-size: 2.5rem;

}

body > section > div:nth-child(1) > h3,
body > section > div:nth-child(4) > h3,
body > section > div:nth-child(3) > h3,
body > section > div:nth-child(2) > h3{
   font-size: 2.4rem;
color: #131010;
font-weight: 1000;
}

html body section.grid div.box p{
font-size: 2rem;
padding-left: 10%;
padding-right: 10%;
color: #131010;
}

 span{
  font-size: 2.5rem;
color: #131010;
}

body > section.grid img{
height: 50%;
width: 80%;
border-radius: 1.5%;
}

 html body section.grid div.box.aos-init.aos-animate p{
   color: #131010;
}
