.tours{

    background: url('/lift-international/media/colon/P1050819-945x708.jpg') no-repeat rgba(0,0,0,.5);
 
    background-position: center;
 
    background-attachment: fixed;
 
    background-size: cover;
 
    background-blend-mode: multiply;
 
 }
 
 body {
    background-image: url("/lift-international/media/colon/pexels-thomas-wilkinson-15015242\ \(copy\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(.3rem);
 
 
  }

  
  html body section.grid div.box.aos-init.aos-animate p{
   color: #ffffff;
}
