.tours{

    background: url('/main/AguaClara-1024x683\ \(copy\).jpg') no-repeat rgba(0,0,0,.5);
 
    background-position: center;
 
    background-attachment: fixed;
 
    background-size: cover;
 
    background-blend-mode: multiply;
 
 }
 
 body {
    background-image: url("/main/colontrip.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(.3rem);
 
 
  }

  
  html body section.grid div.box.aos-init.aos-animate p{
   color: #ffffff;
}
