.tours{

    background: url('/lift-international/media/coronado/playa-coronado.jpg') no-repeat rgba(0,0,0,.5);
 
    background-position: center;
 
    background-attachment: fixed;
 
    background-size: cover;
 
    background-blend-mode: multiply;
 
 }
 
 body {
    background-image: url("/lift-international/media/coronado/coronado.sunset.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(.2rem);
   
 
  }
