.tours{

    background: url('/main/10517617_783307931712628_3352832584091858952_o.jpg') no-repeat rgba(0,0,0,.5);
 
    background-position: center;
 
    background-attachment: fixed;
 
    background-size: cover;
 
    background-blend-mode: multiply;
 
 }
 
 body {
    background-image: url("/lift-international/media/ecotour/f1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(.8rem);
 
 
  }

  html body section.grid div.box.aos-init.aos-animate p{
   color: #ffffff;
}
