.tours{

   background: url('/lift-international/media/embera/ecotour.jpg') no-repeat rgba(0,0,0,.5);

   background-position: center;

   background-attachment: fixed;

   background-size: cover;

   background-blend-mode: multiply;

}

body {
   background-image: url("/lift-international/media/embera/IMG-20220816-WA0019.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   backdrop-filter: blur(.3rem);


 }

 html body section.grid div.box.aos-init.aos-animate p{
   color: #ffffff;
}


 html body div#blog.credit.aos-init.aos-animate img#images{
   width: auto; /* Change the value to adjust the width */
   height: 650px; 
   border-radius: 1%;
 }


 @media (max-width:991px){
   html body div#blog.credit.aos-init.aos-animate img#images{
      width: auto; /* Change the value to adjust the width */
      height: 300px; 
      border-radius: 0.7%;
   
    }
   
 }