.tours{
  background: url('/main/ecotour.jpg') no-repeat rgba(0, 0, 0, 0.219);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
}

section.grid:nth-child(3) > div:nth-child(1) > h3:nth-child(3) > strong:nth-child(1) > a:nth-child(1){
  font-size: 2.7em;
  color: #ececec; 
}

section.grid:nth-child(3) > div:nth-child(1) > h3:nth-child(3) > strong:nth-child(1) > a:nth-child(1){
  font-size: 2rem;
  color: #00ff40; 
}

body {
   background-image: url("/main/ecotour.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   backdrop-filter: blur(.3rem);
 }

 html body section.grid div.box.aos-init.aos-animate p{
   color: #ffffff;
}

body > section:nth-child(3) > div > p.address{
  margin-top: -85px;
}


html body div.container.tours section.grid div.box div#home.credit h4 ul li a{
  font-size: 2rem;
color: #ffffff;
}



body > section.grid > div:nth-child(1),
body > section.grid > div:nth-child(2),
body > section.grid > div:nth-child(3),
body > section.grid > div:nth-child(4),
body > section.grid > div:nth-child(5) > h3{
  font-size: 2.4rem;
color: #ffffff;
}

html body section.grid div.box p{
font-size: 1.6rem;
padding-left: 10%;
padding-right: 10%;
color: #ffffff;
}

#canal > span{
 font-size: 3rem;
color: #ffffff;
}

body > section.grid img{
height: 50%;
width: 80%;
border-radius: 1.5%;
}

 html body div#blog.credit.aos-init.aos-animate img#images{
   width: auto; /* Change the value to adjust the width */
   height: 650px; 
   border-radius: 1%;
 }


/*MEDIA-Q*/


 @media (max-width:991px){
   html body div#blog.credit.aos-init.aos-animate img#images{
      width: auto; /* Change the value to adjust the width */
      height: 300px; 
      border-radius: 0.7%;
      }

      body > section:nth-child(3) > div > p.address{
        margin-top: -25px;
      }
  
 }