.tours{

    background: url('/lift-international/media/isla/IMG_6.jpg') no-repeat rgba(0,0,0,.5);
 
    background-position: center;
 
    background-attachment: fixed;
 
    background-size: cover;
 
    background-blend-mode: multiply;
 
 }
 
 body {
    background-image: url("/lift-international/media/isla/IMG_6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(.3rem);
 
 
  }

    html body div#enterDetails,
  html body section.grid div.box.aos-init.aos-animate h3.name,
  html body div#blog.credit.aos-init.aos-animate p,
  html body section.grid div.box.aos-init.aos-animate p{
   font-weight: 100;
   -webkit-text-stroke: 1.0px rgb(22, 21, 21);
   color: #000000;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.185);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.5rem;
   text-align: center;
   margin-bottom: 4rem;
}

html body div#enterDetails p,
html body div#enterDetails h4,
html body div#enterDetails h1,
html body div#enterDetails input#enterName,
html body div#enterDetails input#enterAmount,
html body div#enterDetails input#enterAddress,
html body div#enterDetails input#enterDate,
html body div#enterDetails input#enterText,
html body div#enterDetails input#enterEmail,
html body div#enterDetails input#enterTime,
html body div#footer.credit,
html body section.grid div.box.aos-init.aos-animate p.address{
   -webkit-text-stroke: 1.0px rgb(22, 21, 21);
   color: #000000;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.185);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html body section.grid div.box.aos-init.aos-animate div.price span{
   -webkit-text-stroke: 1.0px rgb(22, 21, 21);
   color: #000000;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.185);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-bottom: 20px;
   font-size: 3rem;
}