.tours{

   background: url('/main/pexels-esdras-jaimes-10550114.jpg') no-repeat rgba(0, 0, 0, 0.178);

   background-position: center;

   background-attachment: fixed;

   background-size: cover;

   background-blend-mode: multiply;

}

body {
   background-image: url("/main/plantation-walk-in-soberania-national-park-01154 (1).jpg");
   background-repeat: no-repeat;
   background-size: cover;
   backdrop-filter: blur(.3rem);


 }

 html body section.grid div.box span{
   color:#ca7403; 
   font-size: 1.5rem;
 }

 html body div.container.tours section.grid div.box div#home.credit,
 html body div.container.tours section.grid div.box div#home.credit h4 ul li a{
   font-size: 2rem;
color: #ffffff;
}  


body > section:nth-child(3) > div > div,
body > section > div:nth-child(6) > h3,
body > section > div:nth-child(5) > h3,
body > section > div:nth-child(4) > h3,
body > section > div:nth-child(3) > h3,
body > section > div:nth-child(2) > h3,
body > section > div:nth-child(1) > h3{
   font-size: 2.4rem;
color: #ffffff;
font-weight: bolder;
}

html body section.grid div.box p{
font-size: 1.6rem;
padding-left: 10%;
padding-right: 10%;
color: #ffffff;
}

 span{
  font-size: 2.5rem;
color: #ffffff;
}

body > section.grid img{
height: 50%;
width: 80%;
border-radius: 1.5%;
}


    html body div#enterDetails,
  html body section.grid div.box.aos-init.aos-animate h3.name,
  html body div#blog.credit.aos-init.aos-animate p,
  html body section.grid div.box.aos-init.aos-animate p{
   font-weight: 100;
   -webkit-text-stroke: 1.0px rgb(255, 255, 255);
   color: #ffffff;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.185);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.5rem;
   text-align: center;
   margin-bottom: 4rem;
}

html body div#enterDetails p,
html body div#enterDetails h4,
html body div#enterDetails h1,
html body div#enterDetails input#enterName,
html body div#enterDetails input#enterAmount,
html body div#enterDetails input#enterAddress,
html body div#enterDetails input#enterDate,
html body div#enterDetails input#enterText,
html body div#enterDetails input#enterEmail,
html body div#enterDetails input#enterTime,
html body div#footer.credit,
html body section.grid div.box.aos-init.aos-animate p.address{
   -webkit-text-stroke: 1.0px rgb(255, 255, 255);
   color: #ffffff;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.185);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html body section.grid div.box.aos-init.aos-animate div.price span{
   -webkit-text-stroke: 1.0px rgb(255, 255, 255);
   color: #ffffff;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.185);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-bottom: 20px;
   font-size: 3rem;
}