.tours{

    background: url('/lift-international/media/portobelo/beach-gf299b44ed_1280.jpg') no-repeat rgba(0,0,0,.5);
 
    background-position: center;
 
    background-attachment: fixed;
 
    background-size: cover;
 
    background-blend-mode: multiply;
 
 }
 
 body {
    background-image: url("/lift-international/media/portobelo/portobelo-panama-1024x683.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(.8rem);
  }


html body section.grid div.box.aos-init.aos-animate p{
   color: #ffffff;
}

html body section.grid div.box.aos-init.aos-animate p.price span{
   color: #ffffff;
   font-size: 2.5rem;
}