.swipe .swiper-button-prev {
    width: max-content;
    height: max-content;
}

.swipe .swiper-button-next {
    width: max-content;
    height: max-content;
}



.swipe .slide img {
    height: 1000px;
    width: auto;
    border-radius: 0.5%;
    margin: 1rem 0;
}

.swiper {
    height: 900px;
    width: auto;
}

.swiper img {
    border: 0.1rem solid var(--);
    width: 30px;
    height: auto;
}



div.swiper-button-prev::after {
    color: #20bdad00;
}

div.swiper-button-next::after {
    padding-left: 0%;
    color: #20bdad00;
}

.swiper-button-pre img {
    padding-left: 0%;
    width: 1600px;
    height: 900px;
}

.swipe .swiper-pagination .swiper-button-prev img {
    margin-left: 20px;
    
}

/*SWIPE SECTION STARTS*/

.swipe .slide {
    text-align: center;
    padding: 0rem;
}

.swipe .swiper-button-prev {
    width: max-content;
    height: max-content;
}

.swipe .swiper-button-next {
    width: max-content;
    height: max-content;
}


.swipe h1 {
    font-size: 3.5rem;
    color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: block;
}

div.swiper-slide
{
    width: 300px;
    height: 600px;
    border-radius: 1%;
    margin: 1rem 0;
}

.swiper .box{
    width: 300px;
    height: 100px;
}

.swiper img.box{
    border: 0.1rem solid var(--);
    width: 50px;
    height: 50px;
}

div.swiper-button-prev::after {
    color: #20bdad00;
}

div.swiper-button-next::after {
    padding-left: 0%;
    color: #20bdad00;
}

.swiper-button-pre img {
    padding-left: 0%;
    width: 600px;
    height: 300px;
}

.swipe .swiper-pagination .swiper-button-prev img {
    margin-left: 20px;
    
}

div .swiper-pagination 
.swiper-pagination-bullets 
.swiper-pagination-vertical {
    background-color: #ffffff00;
}

div .swiper-scrollbar-drag {
    background-color: var(--color-geraldine);
}

div .swiper-pagination-bullet {
    background-color: #bd2a2000;
}

div.swiper-scrollbar.swiper-scrollbar-vertical {
    background-color: #bd2a2000;
}

div.swiper-pagination.swiper-pagination-bullets.swiper-pagination-vertical {
    background-color: #bd202000;
}

/*MEDIA-Q*/

@media (max-width:991px){

    
    
    .swipe .slide img {
        height: 800px;
        width: auto;
        border-radius: 0.7%;
        margin: 1rem 0;
    }
    
    .swiper {
        height: 800px;
        width: auto;
    }
    
    .swiper img {
        border: 0.1rem solid var(--);
        width: 14px;
        height: auto;
    }
    

    /*SWIPE SECTION STARTS*/
    
    .swipe .slide {
        text-align: center;
        padding: 0rem;
    }
    

    div.swiper-slide
    {
        width: 300px;
        height: 600px;
        border-radius: 1%;
        margin: 1rem 0;
    }
    
    .swiper .box{
        width: 300px;
        height: 100px;
    }
    
    .swiper img.box{
        border: 0.1rem solid var(--);
        width: 20px;
        height: 20px;
    }
    
    div.swiper-button-prev::after {
        color: #20bdad00;
    }
    
    div.swiper-button-next::after {
        padding-left: 0%;
        color: #20bdad00;
    }
    
    .swiper-button-pre img {
        padding-left: 0%;
        width: 600px;
        height: 300px;
    }
    
    .swipe .swiper-pagination .swiper-button-prev img {
        margin-left: 20px;
        
    }
    
    div .swiper-pagination 
    .swiper-pagination-bullets 
    .swiper-pagination-vertical {
        background-color: #ffffff00;
    }
    
    div .swiper-scrollbar-drag {
        background-color:  #ffffff;
    }
}
