.tours{

    background: url('/main/promenade.jpg') no-repeat rgba(0, 0, 0, 0.068);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
 }
 
 body {
    background-image: url("/main/casco-viejo-panama-city_1 (copy).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(.3rem);
  }


#swipe > section > div > p > img{
   height: 100%;
   width: 100%;
   border-radius: 1.5%;
}


html body section.grid div.box p{
font-size: 1.6rem;
padding-left: 10%;
padding-right: 10%;
}

#swipe > section > div > div{
   font-size: 2.5rem;
   padding-left: 10%;
   padding-right: 10%;
}

 span{
   font-size: 2.5rem;
   gap: 6;
}



html body div#enterDetails p,
html body div#enterDetails h4,
html body div#enterDetails h1,
html body div#enterDetails input#enterName,
html body div#enterDetails input#enterAmount,
html body div#enterDetails input#enterAddress,
html body div#enterDetails input#enterDate,
html body div#enterDetails input#enterText,
html body div#enterDetails input#enterEmail,
html body div#enterDetails input#enterTime,
html body div#footer.credit,
html body section.grid div.box.aos-init.aos-animate p.address{
   -webkit-text-stroke: 1.0px rgb(255, 255, 255);
   color: #ffffff;
   text-shadow: 2px 2px 4px rgba(22, 5, 5, 0.788);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html body section.grid div.box.aos-init.aos-animate div.price span{
   -webkit-text-stroke: 1.0px rgb(255, 255, 255);
   color: #ffffff;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.185);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding-bottom: 20px;
   font-size: 3rem;
}