/*
Website structure:

Home
Destination
Booking
Affiliates
contact us

Pallete

#ff7b89 -geraldine
#8a5082 -strikemaster
#6f5f90 -kimberly 
#758eb7 -ship cove
#a5cad2 -casper
#100c13 -dark
*/


:root {
    --color-geraldine: #ff951c;
    --color-geraldine1: #eb569cc2;
    --color-strikemaster: #8a5082;
    --color-strikemaster2: #8a50825f;
    --color-kimberly: #6f5f90;
    --color-kimberly2: #6f5f90d7;
    --color-ship-cove: #758eb7;
    --color-casper: #a5cad2;
    --color-casper2: #dff9ff;
    --color-dark: #262229;
    --color-darker: #26222993;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  
  .container h4 {
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 200;
    color: var(--color-casper);
  }
  
  .container {
    margin-bottom: 3rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: var(--color-geraldine1);
  }
  
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
  }
  
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: var(--color-ship-cove);
  }
  
  html::-webkit-scrollbar-thumb {
    background: var(--color-geraldine1);
    border-radius: 5rem;
  }
  
  
  body {
    min-height: 400px;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(17, 17, 17, 0)),
        to(rgba(17, 17, 17, 0))
      ),
      url() no-repeat;
    background: #ffffff;
      url() no-repeat;
    background-position: bottom;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: 400%; /* zoom out the image by 50% */
    position: relative; 
  }
  
  html body.parallax div.preloader img.loader{
    display: none;
  }
  
  section {
    padding: 3rem 9%;
  }
  

  
  div.branding:nth-child(6) > span:nth-child(1) {
    justify-content: center;
    margin-left: 50%;
  }
  
html body.parallax div.branding a.nav-brand img{
    width: 10%;
  }
  
  /*BAR MENU SECTION START*/
  
  .bar-menu {
    justify-content: center;
    text-align: center;
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: 2%;
    transition: top 0.3s ease-in-out;
  }
  
  .bar-menu.hidden {
    top: -100px;
  }
  

  
  
  .bar-menu a {
    padding: 10px 12px;
    padding-right: 5%;
    padding-left: 5%;
    font-weight: bolder;
    font-size: 1rem;
    text-transform: uppercase;

  }

  html body.parallax section.bar-menu a{
        -webkit-text-stroke: 0.3px rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.719);



  }
  
  .bar-menu a:hover {
    -webkit-text-stroke: 0.3px rgb(255, 255, 255);
    color: rgb(124, 124, 124);
    background: none;
    border-radius: 2%;
    font-weight: bolder;
    font-size: 1.7rem;

  

  }

  
  /*BAR MENU SECTION ENDS*/
  
  .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 0.7rem 13rem;
    font-size: 1.7rem;
    color: var(--color-light);
    border: var(--color-light1);
    border-radius: 5rem;
    cursor: pointer;
    background: var(--color-light3);
  }
  
  .btn:hover {
    background: var(--color-light2);
    color: var(--color-dark);
    border: var(--color-red);
    border-radius: 5rem;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .heading span {
    color: var(--color-ship-cove);
    font-size: 2rem;
  }
  
  .heading h1 {
    font-size: 6rem;
    color: var(--color-ship-cove);
  }
  
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.3rem 8rem;
    font-size: 1.7rem;
    letter-spacing: 8px;
  
    color: var(--color-ship-cove);
    border: 0.2rem solid var(--color-ship-cove);
    border-radius: 5rem;
    cursor: pointer;
    background: none;
  }
  
  .btn:hover {
    background: var(--color-strikemaster);
    color: var(--color-dark);
  }
  
  .branding img {
    padding: 2rem;
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0.7;
  }
  
  /*NAVIGATION DOTS START*/
  .fixed-nav {
    position: fixed;
    top: 27%;
    right: 27px;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .fixed-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .fixed-nav li {
    margin-bottom: 1.3px;
  }
  
  .fixed-nav a {
    display: block;
    font-size: 30px;
    color: #f700ff0c;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
  }
  
  .fixed-nav a:hover {
    opacity: 9;
  }
  
  /*NAVIGATION DOTS END*/
  /*CHATBOX SECTION STARTS ENDS*/
  html body.parallax div.chatbox a.chat img {
    padding: 2rem;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    width: 5%;
    height:10%;
  }
  /*CHATBOX SECTION STARTS ENDS*/
  
  
  .bars img {
    padding: 2rem;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.7;
  }
  
  .menuToggle {
    position: relative;
    width: 30px;
    height: 30px;
    background: url(m.);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  .logo {
    font-size: 2.7rem;
    color: var(--color-ship-cove);
    font-weight: bolder;
  }
  
  .logo i {
    color: var(--color-ship-cove);
    padding-right: 0.5rem;
  }
  
  #menu-btn {
    position: fixed;
    padding-top: 0%;
    font-size: 2.5rem;
    color: rgb(17, 8, 8);
    cursor: pointer;
    display: none;
    z-index: 1;
  }
  
  /* BANNER SECTION STARTS*/
  .text{
    padding:40px;
    background:rgba(238, 238, 238, 0.381);
    display: list-item;
    border-radius: 2%;
  }
  
  
  .text h3{
    text-align: center;
    font-size: 25px;
    padding:10px;
    font-weight: bolder;
  }
  
  .text p{
    text-align: center;
    font-size: 15px;
    padding:10px;
  }
  

  
  /* HOME SECTION STARTS*/

  
  #home {
    position: relative;
    height: 100vh; /* Adjust the height as needed */
  }
  
  #slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #slideshow li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  #slideshow li.active {
    opacity: 1;
  }
  
  #slideshow li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .home {
    margin: 0 auto;
    margin-top: 15rem;
    margin-bottom: 0px;  
    width: 90%;
    border-radius: 1rem;
    /*background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url() no-repeat;
      background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url() no-repeat;*/
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 80vh;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 5rem;
  }
  
  .home .content {
    text-align: center;
  }

  
  .home .content p {
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: var(--color-ship-cove);
    line-height: -0.5;
  }


  #home .title {
  display: flex;
  align-items: center;
}

#home .title img {
  margin-left: 10px; /* Adjust the margin as per your preference */
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}




html body.parallax section#home.home section#home h1.title img{
  animation: spin 12s linear infinite;
  width: 5%;
  height: 0.3%;
  margin-top: 0%;

}

html body.parallax section#home.home section#home h1.title {
  font-weight: bolder;
  -webkit-text-stroke: 1.0px rgb(255, 255, 255);
  color: #ffffffcc;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  font-size: 2.5vw;
  margin-top: -90%;
  z-index: 1;
}

html body.parallax section#home.home section#home h3{
  letter-spacing: 22px;
  -webkit-text-stroke: 2.0px rgb(255, 255, 255);
  color: #000000;
      text-shadow: 3px 3px 5px rgb(0, 0, 0);
  font-weight: 100;
  margin-top: 2%;
  font-size: 1rem;
}
  
  /* PRE-HOME SECTION ENDS*/
  /* PREVIEW SECTION STARTS */
  
  #preview img{
    width: 200%;
    height: 200%;
  }
  
  .preview {
    margin-left: 3rem;
    margin-right: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3rem;
    background: 0 0.5rem 1rem #5e5e5e5e;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem #80808028;
    box-shadow: 0 0.5rem 1rem #5e5e5e31;
    padding: 3rem 2rem;
    text-align: center;
    margin: 10px;
    margin: 1rem auto;
    margin-top: -70rem;
    width: 80%;
    border-radius: 1rem;  
    padding: 3rem 2rem;
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
  }
  
  .preview span {
    -webkit-text-stroke: 1.0px rgba(49, 49, 49, 0.493);
    color: #414141cc;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-weight: 100;
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 2rem;
  }
  
  html body.parallax section#preview.preview p{
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 200;
    margin-top: 1%;
    font-size: 1rem;
    padding-left: 20%;
    padding-right: 5%;
    letter-spacing: 1.5;
    line-height: 1.7;

  }

  
  .preview .content {
    text-align: center;
    
  }
    
  /*PREVIEW GRID-CONTAINER - PREVIEW GRID-CONTAINER - PREVIEW GRID-CONTAINER*/
  
  .preview {
    
    padding: 5%;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Add any additional styling for the content container if needed */
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* Add any additional styling for the flex container if needed */
  }
  
  .flex-container img {
    /* Add any styling for the image if needed */
  }
  
  .flex-container p {
    /* Add any styling for the paragraph if needed */
  }
  

  /*DESTINATION SECTION STARTS*/
  
  .destination .box-container {
    margin-left: 3rem;
    margin-right: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3rem;
    background: 0 0.5rem 1rem #5e5e5e31;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem #80808028;
    box-shadow: 0 0.5rem 1rem #5e5e5e31;
    padding: 3rem 2rem;
    text-align: center;
    margin: 10px;
    border-color: var(--color-geraldine1);
    -webkit-columns: 3 25rem;
    columns: 3 25rem;
    -webkit-column-gap: 1.5rem;
    column-gap: 1.5rem;
    margin-top: 10%;
    display: block;
  }
  
  .destiantion p, a {
    font-weight: 200;
    font-size: 25px;
  }
  
  .destination .box-container .box {
    margin-bottom: 1rem;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
  }
  
  .destination .box-container .box img {
    width: 100%;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    z-index: -10;
    filter: brightness(85%);
  }
  
  .destination .box-container .box span {
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 200;
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-size: 1rem;
      border-radius: 5rem;
      line-height: 1rem;
      letter-spacing: 0px;
      text-transform: none;
  }
  
  .destination .box-container .box h3 {
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 200;
    font-size: 1.5rem;
  }
  
  .destination .heading h1 {
    
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 100;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: -5%;
  }

  html body.parallax section.destination div.heading h1#destination.aos-init.aos-animate{
    background-image: url(/);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /*DESTINATION SECTION ENDS*/
  /*HEADER SECTION STARTS*/
  
  .header {
    position: fixed;
    top: 0;
    left: -31rem;
    height: 100%;
    width: 30rem;
    background: linear-gradient(
      to right,
      #8a4bc5,
      #1498c0cc,
      #7346afc0,
      #add8e600
    );
    padding: 2rem;
    z-index: 1000;
  }
  
  .header.active {
    left: 0;
  }
  
  .header .logo {
    font-size: 4rem;
    color: var(--color-geraldine);
    font-weight: 1000;
  }
  
  .header .navbar {
    margin-top: -18em;
    padding: 30% 0;
  }
  
  .header .navbar a {
    display: block;
    margin: 1.7rem 0;
    font-size: 2.5rem;
    color: var(--color-strikemaster);
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-stroke: 1px rgb(6, 247, 247);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }
  
  .header .navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 0.7rem;
  }
  
  .header .share {
    text-align: center;
  }
  
  .header .share a {
    height: 5rem;
    width: 5rem;
    border-radius: 8%;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--color-kimberly);
    background: var(--color-geraldine);
    margin: 0 0.3rem;
  }
  
  .header .share a:hover {
    background: var(--color-kimberly2);
    color: var(--color-ship-cove);
  }
  
  .header .credit {
    text-align: center;
    font-size: 2rem;
    color: var(--color-geraldine);
    margin-top: 3rem;
    line-height: 1.5;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-stroke: 1px rgb(6, 247, 247);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
  }
  
  /*HEADER SECTION ENDS*/



  /*SERVICES SECTION STARTS*/

  html body.parallax section#services.services{
    margin-top: 50%;
  }
  
  .services .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
  }
  
  .services .box-container .box {
    background: var(--color-strikemaster2);
    border-radius: 1rem;
    border: 0.2rem solid var(--color-geraldine);
    padding: 3rem;
    text-align: center;
  }
  
  .services .box-container .box:hover {
    background: var(--color-darker);
    border-radius: 1rem;
    border: 0.2rem solid var(--color-casper2);
    padding: 3rem;
    text-align: center;
  }
  
  .services .box-container .box:hover {
    border: 0.2rem solid var(--color-casper);
  }
  
  .services .box-container .box i {
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 200;
    font-size: 2rem;
    color: var(--color-geraldine);
    margin-bottom: 2rem;
  }
  
  .services .box-container .box h3 {
    font-size: 2rem;
    color: var(--color-casper);
  }
  
  .services .heading h1 {
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 200;
    font-size: 5vw;
  }
  
  .services .box-container .box p {
    padding: 1rem 0;
    font-size: 1rem;
    color: var(--color-casper2);
    line-height: 2;
  }
  
  .services .box-container .box a {
    padding: 1rem 0;
    font-size: 1rem;
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 200;
    line-height: 2;
  }
  
  /*SERVICES SECTION ENDS*/
  
  /*TEAM-MEMBERS SECTION STARTS*/

  .swiper-container {
    width: 30%;
    height: 500px;
  }

  /* Set slide item styles */
  .swiper-slide {
    background-size: cover;
    background-position: fixed;
  }




  .image-grid {
    display: flex;
    justify-content: center;
  }
  
  .team-member {
    margin-left: 3rem;
    margin-right: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3rem;
    background: 0 0.5rem 1rem #5e5e5e31;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem #80808028;
    box-shadow: 0 0.5rem 1rem #5e5e5e31;
    padding: 3rem 2rem;
    text-align: center;
    margin: 10px;
  }
  
  .team-member img {
    width: 300px; /* Adjust the width as needed */
    height: auto;
  }
  
  .team-member h3, .team-member p {
    font-weight: bolder;
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0); 
    font-size: 2.5vw;
    margin: 5px 0;
  }
  

  .image-grid img {
    width: 300px; /* Adjust the width as needed */
    height: auto;
    margin: 10px;
  }


  html body.parallax section#team-member.team-member div.image-grid h3{

  font-weight: bolder;
  -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
  color: #414141cc;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);   
  font-weight: 200;
  font-size: 1vw;  }

  html body.parallax section#team-member.team-member div.box-container div.box.aos-init.aos-animate h4{
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 100;
    font-size: 1rem; 
    padding-left: 20%;
    padding-right: 20%;

  }

  html body.parallax section#team-member.team-member div.image-grid p{
    font-weight: bolder;
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 200;
    font-size: 1vw;  }

  html body.parallax section#team-member.team-member div.box-container div.box.aos-init.aos-animate div.team-member div.share{
    font-weight: bolder;
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 200;
    font-size: 2rem;
  }
  /*TEAM-MEMBERS SECTION ENDS*/
  
  
    /*MEMBERS SECTION STARTS*/

    .image-grid {
      display: flex;
      justify-content: center;
    }
    
    html body.parallax section#member.member div.box-container div.swiper-container.swiper-initialized.swiper-horizontal.swiper-backface-hidden div#swiper-wrapper-bb00fa1ca10a135b7.swiper-wrapper div.swiper-slide.swiper-slide-active,
    html body.parallax section#member.member div.box-container div.swiper-container.swiper-initialized.swiper-horizontal.swiper-backface-hidden div#swiper-wrapper-610c74107acfc2a57e.swiper-wrapper div.swiper-slide.swiper-slide-active div.member{
      font-weight: bolder;
      -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
      color: #414141cc;
      text-shadow: 1px 1px 3px rgb(0, 0, 0); 
      font-size: 0.5vw;
      margin: 5px 0;
      text-align: center;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 3rem;

    }





    .member {

      margin: 10px;
    }
    
    .member img {
      width: 200px; /* Adjust the width as needed */
      height: auto;
    }
    
    .member h3, .member p {
      font-weight: bolder;
      -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
      color: #414141cc;
      text-shadow: 1px 1px 3px rgb(0, 0, 0); 
      font-size: 2.5vw;
      margin: 5px 0;
    }
    
    html body.parallax section#member.member div.box-container div.swiper-container.swiper-initialized.swiper-horizontal div#swiper-wrapper-2cf8c881108b31f9c.swiper-wrapper div.swiper-slide.swiper-slide-next div.member,
    html body.parallax section#member.member div.box-container div.swiper-container.swiper-initialized.swiper-horizontal div#swiper-wrapper-2cf8c881108b31f9c.swiper-wrapper div.swiper-slide div.member.aos-init.aos-animate{
      margin-left: 3rem;
      margin-right: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 3rem;
      -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
      background: var(--color-darker);
      border-radius: 1rem;
      -webkit-box-shadow: 0 0.5rem 1rem #1111112a;
      box-shadow: 0 0.5rem 1rem #11111131;
      padding: 3rem 2rem;
    }





    html body.parallax section#member.member div.box-container div.swiper-container.swiper-initialized.swiper-horizontal.swiper-backface-hidden div#swiper-wrapper-a68561618bb2f8b0.swiper-wrapper div.swiper-slide.swiper-slide-next div.member.aos-init.aos-animate img{
      width: 50px; /* Adjust the width as needed */
      height: auto;
    }
  
    html body.parallax section#member.member div.image-grid h3{
  
    font-weight: bolder;
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 200;
    font-size: 1vw;  }
      
    html body.parallax section#member.member div.box-container div.swiper-container.swiper-initialized.swiper-horizontal.swiper-backface-hidden div#swiper-wrapper-931b091f2f6ec91d.swiper-wrapper div.swiper-slide.swiper-slide-active div.member h4{
      -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
      color: #414141cc;
      text-shadow: 1px 1px 3px rgb(0, 0, 0);   
      font-weight: 100;
      font-size: 1rem; 

  
    }




    /*MEMBERS SECTION ENDS*/

  /*PAYMENT INFO STARTS*/
  html body.parallax div.payment{
    -webkit-text-stroke: 1.0px rgba(128, 128, 128, 0.493);
    color: #414141cc;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);   
    font-weight: 200;
    -webkit-background-clip: text;
    text-align: center;
    padding-left: 350px;
    padding-right: 350px;
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 0.7vw;
  
  }
  

    /*PAYMENT INFO ENDS*/
  
  
    
    #presentation {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    #presentation h2 {

      text-align: center;
      font-size: 1rem;
      color: var(--color-casper2);
    }
    
    .team-member {
      margin: 30px;
    }
    
    .team-member img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
    
    .team-member h3 {
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 3rem;
    }
    
    .team-member p {
      font-size: 8rem;
    }

    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member h3,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member.aos-init.aos-animate h3{
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 2rem;
      }

      
      html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member h4,
      html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member.aos-init.aos-animate h4{ 
        -webkit-text-stroke: 1.0px rgba(49, 49, 49, 0.699);
        color: #414141cc;
        text-shadow: 1px 1px 3px rgb(0, 0, 0);   
        font-weight: 200;
        font-size: 1rem;

      }


      html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member p,
      html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member.aos-init.aos-animate p{
        margin-top: -13%;
        margin-bottom: -13%;
        font-size: 1rem;
      }
  
    html body.parallax section#services.services div.box-container div.box.aos-init.aos-animate h3{
      text-align: center;
      font-size: 2.5rem;
      color: var(--color-casper2);
    }

    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-pinterest,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-whatsapp,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-youtube,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-linkedin,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-facebook-f,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-twitter,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member.aos-init.aos-animate div.share a.fab.fa-twitter,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-instagram{
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        border-radius: 50%;
        font-size: 1.7rem;
        border: 0.2rem solid var(--color-geraldine);

        background: var(--color-kimberly);
        color: var(--color-casper);
        margin-right: 0.5rem;
        text-align: center;
    }

    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-pinterest:hover,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-whatsapp:hover,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-youtube:hover,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-linkedin:hover,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-facebook-f:hover,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-twitter:hover,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member.aos-init.aos-animate div.share a.fab.fa-twitter:hover,
    html body.parallax section#team-member.team-member div.image-grid.aos-init.aos-animate div.team-member div.share a.fab.fa-instagram:hover {
        border: 0.2rem solid  var(--color-casper);
        color: var(--color-kimberly);
        background: var(--color-geraldine);
      }

    html body.parallax section#team-member.team-member div.box-container div.box.aos-init.aos-animate i.fas.fa-globe{
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        border-radius: 50%;
        font-size: 1.7rem;
        border: 0.2rem solid var(--color-geraldine);
        color: var(--color-kimberly);
        background: var(--color-geraldine);
        margin-right: 0.5rem;
        text-align: center;
    }
  
    
  
  /*  FOOTER SECTION STARTS*/
  
  .footer {
    background-image: url(/main/pexels-richard-rojas-15097661.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.7rem;
  }
  
  .footer .box-container .box {
    padding: 1rem 0;
  }
  .footer .box-container .box form .email {
    width: 100%;
    border-radius: 5rem;
    border: 0.2rem solid var(--color-geraldine);
    background: none;
    font-size: 1.5rem;
    text-transform: none;
    color: #aaa;
    margin-bottom: 1rem;
    padding: 1.2rem 1.4rem;
  } 
  
  
  
  .footer .box-container .box .logo {
    padding-bottom: 10rem;
  
  }
  
  
  .footer .box-container .box h3 {
    -webkit-text-stroke: 1.0px rgb(255, 255, 255);
    background: -webkit-linear-gradient(rgb(153, 243, 255),rgb(161, 74, 243), rgb(255, 0, 234));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    margin-top: 20%;
    font-size: 3.5vw;
  }
  
  .footer .box-container .box p {
    font-size: 2.3rem;
    color: var(--color-casper2);
    padding: 1rem 0;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.997),
      -2px -2px 4px rgb(218, 183, 252);
  }
  
  .footer .box-container .box p i {
    padding-right: 0.5rem;
    color: var(--color-geraldine);
  }
  
  .footer .box-container .box .share {
    padding-top: 1rem;
  }
  
  .footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    font-size: 1.7rem;
    border: 0.2rem solid var(--color-geraldine);
    color: var(--color-kimberly);
    background: var(--color-geraldine);
    margin-right: 0.5rem;
    text-align: center;
  }
  
  .footer .box-container .box .share a:hover {
    background: var(--color-kimberly);
    color: var(--color-casper);
  }
  
  .footer .box-container .box .links {
    font-size: 2.5rem;
    color: var(--color-casper2);
    padding: 1rem 0;
    display: block;
  }
  
  .footer .box-container .box .links:hover {
    color: #ff0028;
  }
  
  .footer .box-container .box .links:hover i {
    padding-right: 2rem;
  }
  
  .footer .box-container .box .links i {
    padding-right: 0.5rem;
    color: var(--color-geraldine);
  }
  
  
  
  /*FOOTER SECTION ENDS*/
  
  .credit {
    background: var(--color-dark);
    text-align: center;
    font-size: 1.3rem;
    padding: 2rem 1rem;
    color: var(--color-casper);
  }
  
  .credit span {
    color: var(--color-geraldine);
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - */
  
  /*MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - */
  
  /*MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - */
  
  /*MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - */
  
  /*MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES - */
  
  
  
  /*removed text shadow*/
  
  
  @media (max-width: 768px) {
    html body.parallax section#contact.footer div.box-container div.box.aos-init.aos-animate h3{
      text-shadow: none !important;;
    }
  
    html body.parallax section#services.services div.box-container div.box.aos-init.aos-animate h3{
      text-shadow: none !important;;
    }
  
    html body.parallax section#services.services div.heading h1{
      text-shadow: none !important;;
  
    }
  
    html body.parallax section#preview.preview div.content span.aos-init.aos-animate{
      text-shadow: none !important;;
  
    }
  }
  /*removed text shadow*/
  
  @media (min-width: 720px) and (max-width: 780px) and (min-height: 1480px) and (max-height: 1540px) {
  
  
    
    .parallax {
      height: 100%;
      width: 100%;
    }
  
    
    @media (max-width: 780px) {
    }
  }
  
  @media (max-width: 580px) {
    .destination .heading h1 {
      font-weight: bolder;
      font-size: 15vw;
      margin-top: 480%;
    }
    
  }
  
  
  
  @media (max-width:768px){
    .banner-container .banner .women{
        display: none;
    }
  
    .banner-container .banner .content .btn{
      display: block;
      height: 50px;
      width: 300px;
      color:#c72020;
      margin:5px auto;
      font-size: 1.3rem;
      text-decoration: none;
    }
  }
  
  
  
  
  
  
  @media only screen and (min-width: 668px) and (max-width: 2023px) {
    .preview-outer video {
      display: none;
    }
  
    .destination .box-container .box h2 {
      display: none;
  }
   
  html body.parallax nav.fixed-nav ul li a {
    display: none;
  }
  
  
  body {
    background-size: 400%;
  }
  }
  
  
  
  
  @media only screen and (min-width: 868px) and (max-width: 1283px) {
    body {
    background-size: 480%; 
  }
  }
  
  @media (max-width: 780px) {
    body {

        background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 360%; 
      min-height: 400px;
      z-index: 100;
    }
  
    body.active {
      padding-left: 0;
      z-index: 10;
    }
  
    .destination .box-container .box span {
      font-size: 1rem;
      font-weight: 250;
      color: var(--color-casper2);
    }
  
    .destination .box-container .box h3 {
      margin-top: 2.8rem;
      margin-bottom: 2rem;
      font-size: 3.4rem;
    } 
    
    .destination .box-container .box h2 {
      font-size: 1rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 2rem;
      color: var(--color-casper2);
      -webkit-text-stroke: 0.3px rgb(17, 227, 255);
  
    }
  
  
  
    .destination .box-container {
      display: flex;
      flex-wrap: wrap;
    }
  
    .destination .box-container .box img {
      max-height: 80%;
      max-width: 100%;
      border-radius: 1rem;
      margin-bottom: 1rem;
      z-index: -10;
  
    }
  }
  header.active {
    box-shadow: 0 0 0 100vw var(--color-light3);
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  
    .header {
      padding: 1.5rem 2rem;
    }
  
    section {
      padding: 3rem 2rem;
    }
  }
  
  @media only screen and (max-width: 1080px) {
    #menu-btn {
      display: inline-block;
    }
  
    .bar-menu {
      display: none;
    }
  
    
  }
  
  @media only screen and (max-width: 1380px) and (max-width: 1980px) {
    .bar-menu {
      position: absolute;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #26222900;
      z-index: 1;
    }
  
    .bar-menu a {
      text-align: center;
      padding: 4px 6px;
      font-size: 15px;
    }
  
    
  
    .preview .grid-container h2 {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1340px) {
    .bar-menu a {
      text-align: center;
      padding: 4px 6px;
      font-size: 14px;
      -webkit-text-stroke: 0.5px rgb(255, 255, 255);
      text-stroke: 1px rgb(6, 247, 247);
    }
  
    .preview-outer video {
      display: none;
    }
  
    .preview .grid-container h2 {
      display: none;
    }
    
    .preview .grid-container h1 {
      display: none;
    }
  
  }
  
  @media only screen and (max-width: 1940px) {
    .preview .grid-container h2 {
      display: none;
    }
    
    .preview .grid-container h1 {
      display: none;
    }
  
  
  }
  
  
  
  @media (max-width: 768px) {
  
    .preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 105%;
    overflow: visible;
    background: #030202;
  }
  
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 75px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  /* Show the content after the preloader is hidden */
  .preloader:not(:hover) + .content {
    display: block;
  }
  
  /*NAVIGATION DOTS START*/
  .fixed-nav {
    position: fixed;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .fixed-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .fixed-nav li {
    margin-bottom: 20px;
  }
  
  .fixed-nav a {
    display: block;
    font-size: 30px;
    color: #d0ff00;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;
  }
  
  .fixed-nav a:hover {
    opacity: 9;
  }
  
  html body.parallax nav.fixed-nav ul li a{
    opacity: 45%;
  }
  
  /*NAVIGATION DOTS END*/
  
  
    .header .navbar a {
      -webkit-text-stroke: 1.0px rgb(255, 255, 255);
  
      background: -webkit-linear-gradient(rgb(156, 255, 153),rgba(174, 100, 244, 0.692), rgb(255, 123, 0));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 4rem;
      font-size: 7.5vw;
      line-height: 3.3rem;
      display: block;
    }  
    
    .header .navbar  {
      margin-top: -10rem;
    }
  
    .home {
      margin-top: -2rem;
    }
  
    .home .content {
      margin-top: 60%;
    }  
    
    .home .content {
      margin-bottom: 130%;
    }
  
    .home .grid-container {
      margin-top: 10%;
    }
  
    .home .content span {
      -webkit-text-stroke: 1.0px rgb(255, 255, 255);
      background: -webkit-linear-gradient(rgb(153, 243, 255),rgb(161, 74, 243), rgb(255, 0, 234));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bolder;
      margin-top: 5rem;
      }
  
    .home .content h3 {
      letter-spacing: 15px;
      -webkit-text-stroke: 0.4px rgb(255, 255, 255);
      background: -webkit-linear-gradient(rgb(153, 243, 255),rgb(161, 74, 243), rgb(255, 0, 234));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bolder;
      margin-top: 4%;
      font-size: 2.3vw;
      display: block;  }
  
    .home .content p {
      display: none;
    }
  
    .home .content a {
      display: none;
    }
  
    .home-inner {
      display: none;
    }
  
  
    /*CHATBOX SECTION STARTS ENDS*/
  html body.parallax div.chatbox a.chat img {
    padding: 2rem;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    opacity: 50%;
    width: 20%;
    height:10%;
  }
  
  
  /*CHATBOX SECTION STARTS ENDS*/
  
    .preview {
      padding: 0%;
      display: block;
      margin-top: 22rem;
      margin-bottom: 25rem;
  
  }
  
  html body.parallax section#preview.preview div.content span.aos-init.aos-animate{
    margin-bottom: -14%;
  
  }
  
  
    .preview span {
    -webkit-text-stroke: 1.0px rgb(255, 255, 255);
                  background: -webkit-linear-gradient(rgb(153, 243, 255),rgb(161, 74, 243), rgb(0, 238, 255));
                  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    bottom: 20%;
    font-size: 10vw;
    display: block;
  }
  
  html body.parallax section#preview.preview div.content span.aos-init.aos-animate{
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
    .preview p {
    padding: 3%;
    font-weight: bolder;
    margin-top: 8%;
    font-size: 3vw;
    color: var(--color-casper2);
    display: block;
  }
  
  
  
  /*PREVIEW GRID-CONTAINER - PREVIEW GRID-CONTAINER - PREVIEW GRID-CONTAINER*/
  
  .grid-container  {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    margin: 10px;
  }
  
  .preview .grid-container {
    width: 80%;
    background: var(--color-darker);
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem 1rem #1111114d;
    box-shadow: 0 0.5rem 1rem #1111114d;
    padding-right: 3em;
    background-size: cover;
    background-position: center;
    display: block;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
    margin-top: 32rem;
  }
  
  .preview .grid-container h1 {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.9);
            background: -webkit-linear-gradient(rgb(153, 243, 255),rgb(161, 74, 243), rgb(0, 238, 255));
            -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    margin-left: rem;
    display: block;
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
  }
  
  .preview .grid-container h2 {
    -webkit-text-stroke: 1px rgba(194, 219, 248, 0.9);
    font-weight: 100;
    margin-top: -0.8rem;
    display: block;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
    line-height: 2;
  }
  
  
  .preview .grid-container img {
    margin-top: 3rem;
    height: 87%;
    width: 90%;
    z-index: -1;
  }
  
  .preview .grid-container span {
    font-weight: bolder;
    margin-top: 0.5rem;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 3.3rem;
    letter-spacing: 1.5rem;
  }
    
  .preview .grid-container p {
    display: none;
  }  
  
  /*PREVIEW GRID-CONTAINER - PREVIEW GRID-CONTAINER - PREVIEW GRID-CONTAINER*/
  
  .review {
    margin-top: -100rem
  }
  
  html body.parallax section#preview.preview div#grid-container.grid-container div.grid-item.aos-init.aos-animate a h1{
    text-shadow: none;
  }
  
  .destination .heading img {
    margin-bottom: 15rem;
  }
  
  .destination .heading h3 {
    font-weight: bolder;
    font-size: 30vw;
    margin-top: 5rem;
  }
  
  .destination .heading span {
    display: none;
  }
  
  
  
  .destination .box-container .box h2 {
      margin-top: 0rem;
      margin-bottom: 5rem;
      font-size: 2rem;
  }
  
  .destination .box-container .box h3 {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    font-size: 3.4rem;
  }
  /*PAYMENT INFO STARTS*/
  html body.parallax div.payment {
    font-weight: bolder;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 4%;
    margin-bottom: -25%;
    font-size: 2.5vw;
        color: #ffffff;
  }
  
  
  html body.parallax div.payment.aos-init.aos-animate img{
    width: 250px; 
    height: 75px;
  }
  
    html body.parallax section#reviews.reviews div.article-container div.payment h3{
      font-size: 2vw;
      color: #ffffff;
    }
  
  
    html body.parallax div.payment.aos-init.aos-animate h3{
      color: #ffffff;
  
    }
  
    html body.parallax div.payment h3{
      text-shadow: none;
      color: #ffffff;
          font-size: 2vw;
    }
  
    html body.parallax section#reviews.reviews div.article-container div.payment h3 strong{
      font-size: 2vw;
      color: #ffffff;
  
    }
    /*PAYMENT INFO ENDS*/
  
  
  .services .heading h1 {
    font-size: 15vw;
  }
  
  html body.parallax section#services.services div.box-container div.box.aos-init.aos-animate p a {
    -webkit-text-stroke: 1.0px rgb(255, 0, 0);
    background: -webkit-linear-gradient(rgb(153, 243, 255),rgb(161, 74, 243), rgb(255, 0, 234));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 3vw;
  }
  }
  
  /*MEMBERS SECTION STARTS*/
  
  .members .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .members .box-container .box {
    background: var(--color-strikemaster2);
    border-radius: 1rem;
    border: 0.2rem solid var(--color-geraldine);
    padding: 3rem;
    text-align: center;
  }
  
  .members .box-container .box:hover {
    background: var(--color-darker);
    border-radius: 1rem;
    border: 0.2rem solid var(--color-casper2);
    padding: 3rem;
    text-align: center;
  }
  
  .members .box-container .box:hover {
    border: 0.2rem solid var(--color-casper);
  }
  
  .members .box-container .box i {
    font-size: 5.5rem;
    color: var(--color-geraldine);
    margin-bottom: 2rem;
  }
  
  .members .box-container .box h3 {
    font-size: 2.5rem;
    color: var(--color-casper);
    text-shadow: none;
  }
  
  .members .heading h1 {
    -webkit-text-stroke: 2.0px rgb(230, 98, 98);
    background: -webkit-linear-gradient(rgb(153, 243, 255),rgb(161, 74, 243), rgb(255, 0, 234));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 5vw;
  }
  
  .members .box-container .box p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--color-casper);
  }
  
  .members .box-container .box a {
    padding: 1rem 0;
    font-size: 1.4rem;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-stroke: 1px rgb(6, 247, 247);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    line-height: 2;
  }
  
  html body.parallax section#members.members div.box-container div.box.aos-init.aos-animate div.team-member div.share a{
    padding: 1.3rem;
    opacity: 100%;
    width: 3%;
    height:12%;
  }
  
  html body.parallax section#members.members div.box-container div.box.aos-init.aos-animate h4{
    padding: 1rem 0;
    font-size: 1.4rem;
      color: var(--color-casper);
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    text-stroke: 1px rgb(6, 247, 247);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    line-height: 1.2;
  }
  
  /*MEMBERS SECTION ENDS*/
  
  .footer .box-container .box h3 {
      -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.485);
      background: -webkit-linear-gradient(rgb(152, 201, 208),#9dbfff, rgb(196, 100, 255), rgb(225, 160, 255));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    font-size: 6.2rem;
    color: #fff;
    padding: 1rem 0;
  }
  
  @media only screen and (max-width: 480px) {
    .footer {
      background-image: none; /* hide the background image */
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .about .content h3 {
      font-size: 3.5rem;
    }
    .banner .content h3 {
      font-size: 2.7rem;
    }
  }
  
  @media (max-width: 991px) {
    .btn {
      margin-top: 3rem;
      display: inline-block;
      padding: 0.4rem 10rem;
      font-size: 1.2rem;
      border-radius: 5rem;
      cursor: pointer;
    }
  }
  
  @media (max-width: 768px) {
    .btn {
      margin-top: 3rem;
      display: inline-block;
      padding: 0.4rem 10rem;
      font-size: 1.2rem;
      border-radius: 5rem;
      cursor: pointer;
    }
  }
  
  
  @media only screen and (min-width: 864px) and (max-width: 1536px) {
    .preview-inner video {
      justify-content: center;
      width: 80%;
      height: 100%;
      border-radius: 2%;
    }
  }