@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


.tours{

    background: url('/lift-international/media/private/pexels-level-media-11905197.jpg') no-repeat rgba(0,0,0,.5);

   background-position: center;

   background-attachment: fixed;

   background-size: cover;

   background-blend-mode: multiply;

}

body {
    background-image: url("/lift-international/media/private/20140601-STRIP-slide-O11B-superJumbo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(.8rem);
 
 
  }