.tours{

    background: url('/lift-international/media/pviejo/pviejo1.jpg') no-repeat rgba(0,0,0,.5);
 
    background-position: center;
 
    background-attachment: fixed;
 
    background-size: cover;
 
    background-blend-mode: multiply;
 
 }
 
 body {
    background-image: url("/lift-international/media/pviejo/pasillo-cabildo\ \(copy\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(.8rem);
 
 
  }